@model projeto.DTO.AlocacaoDTO
@{
    ViewData["Title"] = "Alocação";
}

<h2>Alocação</h2>
<br/>
<hr/>
<form method="POST" asp-controller="Funcionario" asp-action="AdcVaga">
    <input type="hidden" asp-for="Id" value="0">

    <label>Funcionário</label>
    <select class="form-control" asp-for="FuncionarioID" asp-items='@(new SelectList(@ViewBag.funcionario, "Id", "Nome"))'>
        <option value="">Selecione</option>
    </select>
    <span asp-validation-for="FuncionarioID"></span>
    <br/>

    <label>Vaga</label>
    <select class="form-control" asp-for="VagaID" asp-items='@(new SelectList(@ViewBag.vaga, "Id", "Projeto"))'>
        <option value="">Selecione</option>
    </select>
    <span asp-validation-for="VagaID"></span>
    <br/><br/>

    <button class="btn btn-success">Fazer alocação</button>
</form>