@model projeto.DTO.VagaDTO;
@{
    ViewData["Title"] = "Cad Vagas";
}

<h3>Nova vaga</h3>
<hr/>

<form method="POST" asp-controller="Vagas" asp-action="Salvar">
    <input type="hidden" asp-for="Id" value="0">

    <label>Código da vaga</label>
    <input type="text" class="form-control" asp-for="CodVaga" placeholder="ex: #ABCXYZ">
    <span asp-validation-for="CodVaga"></span><br/>

    <label>Projeto referente a vaga</label>
    <input type="text" asp-for="Projeto" class="form-control" placeholder="ex: Projeto banco ABC">
    <span asp-validation-for="Projeto"></span><br/>

    <label>Quantidadde de vagas</label>
    <input type="number" class="form-control" asp-for="QtdVaga" placeholder="ex: 10">
    <span asp-validation-for="QtdVaga"></span><br/>

    <label>Descrição da vaga</label>
    <textarea rows="5" class="form-control" asp-for="DescricaoVaga" placeholder="ex: Descreva as atribuições e requisitos da vaga."></textarea> 
    <span asp-validation-for="DescricaoVaga"></span><br/>

    <fieldset>
        <legend>Tecnologias</legend>
        <br/>
        <a class="btn btn-primary" id="tecnologia">Adc outra tecnologia</a>
        <br/><br/>

        <div id="render">
        </div>
    </fieldset>

    <input type="hidden" asp-for="TecnologiaID" id="tecId">
    <span asp-validation-for="TecnologiaID"></span><br/><br/>

    <button class="btn btn-success">Cadastrar vaga</button>
</form>

<script src="~/js/cad-vaga.js"></script>