@{
    ViewData["Title"] = "Funcionários";
}

<div>
    <h2>Funcionários em WA</h2><br/>
    <a class="btn btn-primary" asp-controller="Adm" asp-action="CadastrarFuncionario">Cadastrar funcionários</a>
</div>