@{
    ViewData["Title"] = "Home";
}

<div>
    <h2>Gerenciador de funcionários em WA.</h2><br/>
    <a class="btn btn-success" asp-action="PopularLogin" asp-controller="Popular">Popular banco de dados com informações</a>
</div>