@model projeto.Models.Popular;
@{
    ViewData["Title"] = "Home";
}

<div>
    <h2>Gerenciador de funcionários em WA.</h2><br/>

    @if ((bool)ViewData["cont1"])
    {
        <a class="btn btn-success" asp-controller="Popular" asp-action="PopularLogin">Popular banco de dados com Logins</a><br/><br/>
    }
    else
    {
        <h4>Banco de dados populado com sucesso!</h4>
        <h5>E-mail: clecio@gft.com</h5>
        <h5>Senha: Abc123:)</h5>
    }
</div>